<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> Add customer </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">		
	</head>
	<body></br></br></br></br></br>
		<div class="add-customer-page">
            <div class="form">
              <form class="add-cutomer-form" action="{{ url_for('add_customer') }}" method="post">
                <div class="msg">{% autoescape false %}{{ msg }}{%endautoescape%}</div>
                <input id="username" name="username" type="text" placeholder="Customer name"/>
                <input id="email" name="email" type="text" placeholder="Email address"/>
                <button>Submit</button>
                <p class="message">Back <a href="{{url_for('user_page')}}">Return to user page</a></p>
              </form>
            </div>
          </div>
	</body>
</html>