<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> Reset password - Reset code</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">		
	</head>
	<body></br></br></br></br></br>
		<div class="reset-password-page-con">
            <div class="form">
              <form class="reset-password-con-form" action="{{ url_for('reset_password_con') }}" method="post">
                <div class="msg">{{ msg }}</div>
                <input id="rst_code" name="rst_code" type="text" placeholder="Enter reset code"/>
                <button>submit</button>
				<p class="message">Got here accidentally? <a href="{{url_for('login')}}">Return to login page</a></p>
			  </form>
            </div>
          </div>
	</body>
</html>