<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> Reset password </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">		
	</head>
	<body></br></br></br></br></br>
		<div class="reset-password-page">
            <div class="form">
              <form class="reset-password-form" action="{{ url_for('reset_password') }}" method="post">
                <div class="msg">{{ msg }}</div>
                <input id="username" name="username" type="text" placeholder="username"/></br>
				<input id="email" name="email" type="text" placeholder="email"/></br>
                <button>submit</button>
				<br><br>
				<p class="message">Got here accidentally? <a href="{{url_for('login')}}">Return to login page</a></p>
			  </form>
            </div>
          </div>
	</body>
</html>